name: build-static

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker build . \
              --platform linux/${{ matrix.arch }} \
              --output type=local,dest=.

      - name: Create release asset
        run: |
          tar -cvzf qemu-${{ matrix.arch }}.tar.gz usr/local

      - name: Store tarball
        uses: actions/upload-artifact@v3
        with:
          name: qemu-${{ matrix.arch }}.tar.gz
          path: qemu-${{ matrix.arch }}.tar.gz

  release:
    if: github.event_name != 'pull_request'
    needs:
    - build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3
    
      - uses: actions/download-artifact@v3  

      - name: Get version
        id: get_version
        run: |
          version="$(cat Dockerfile | grep "ARG QEMU_VERSION=" | sed -E 's/ARG QEMU_VERSION=//')"
          echo "::set-output name=version::${version}"

      - name: Create release
        id: create_release
        if: github.event_name != 'pull_request'
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          allowUpdates: true
          name: "qemu ${{ steps.get_version.outputs.version }}"
          tag: v${{ steps.get_version.outputs.version }}
          draft: false
          omitBody: true
          prerelease: false
          replacesArtifacts: true
          artifacts: "*/qemu-*.tar.gz"
